body {
  box-sizing: border-box;
  background: rgb(244, 244, 244);
  /* font-family: fantasy; */
}
.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #dde2e9;
  height: 200px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 20%;
  background: #fff;
  border-radius: 5px;
  padding: 0 1rem;
}
.search {
  width: 95%;
  height: 80%;
  border: none;
  outline: none;
}
.card-list {
  column-count: 3;
  width: 80%;
  padding: 0 2rem;
  margin: -30px auto 0 auto;
  
}
.card-image {
  width: 100%;
  border-radius: 10px;
}
.card{
  width: fit-content;
  margin-bottom: 1rem;
  /* border-radius: 8px; */
  /* background: blue; */
}