body {
  box-sizing: border-box;
  background: rgb(244, 244, 244);
  /* font-family: fantasy; */
}
.search-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #dde2e9;
  height: 200px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 20%;
  background: #fff;
  border-radius: 5px;
  padding: 0 1rem;
}
.search-input {
  width: 95%;
  height: 80%;
  border: none;
  outline: none;
}
.card-list {
  column-count: 3;
  width: 80%;
  padding: 0 2rem;
  margin: -30px auto 0 auto;
}
.card-image {
  width: 100%;
  border-radius: 10px;
}
.card{
  width: fit-content;
  height: fit-content;
  margin-bottom: 1.1rem;
  position: relative;
}
.overlay{
  position: absolute;
  width: 100%;
   height: 100%;
   /* margin-bottom: 1rem; */
  bottom: 0;
   background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: .5s ease;
  opacity: 0;
  border-radius: 10px;
}
.card:hover .overlay{
  opacity: 1;
}

.author{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius:10px;
  padding: .3rem;
  color: #fff;
  top: 0;
  opacity: 0;
}
.card:hover .author{
  
  opacity: 1;
  /* z-index: 77; */
}
.author-profile{
  color: #000;
  cursor: pointer;
  text-decoration: none;
  margin-left: .3rem;
  
}
.author-image{
  border-radius: 50%;
}
/* media queries */

@media only screen and (max-width: 768px){
  .card-list{
    column-count: 1;
  }
  .search-input{
    margin-left:1rem;
  }
}